<div class="basic-container">
    <div class="row m-t">
        <div class="col-12">
            <mat-card>
                <mat-card-title>Фильтр<mat-divider></mat-divider></mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Текущая валюта</mat-label>
                                <mat-select [(ngModel)]="filter.currency" (ngModelChange)="search()">
                                    <mat-option *ngFor="let cur of mainCurrencies" [value]="cur">
                                        {{ cur }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Текущая дата</mat-label>
                                <input
                                    matInput
                                    [min]="minDate"
                                    [max]="maxDate"
                                    (dateChange)="search()"
                                    [matDatepicker]="picker"
                                    placeholder="Текущая"
                                    [(ngModel)]="filter.date"
                                />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field>
                                <mat-label>Курсы валют</mat-label>
                                <mat-select [(ngModel)]="filter.rates" multiple (ngModelChange)="changeFilterRates()">
                                    <mat-option *ngFor="let cur of secondCurrencies" [value]="cur">
                                        {{ cur }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row m-t">
        <div class="col-6">
            <mat-card>
                <mat-card-title>Курсы валют на {{ filter.date | date: 'dd.MM.yyyy' }}<mat-divider></mat-divider></mat-card-title>
                <mat-card-content>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped" matSort (matSortChange)="sortData($event)">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="name" class="col-sm-5 b-t-none">Валюта</th>
                                            <th mat-sort-header="rate" class="col-sm-5 b-t-none">Курс</th>
                                            <th class="col-sm-2 b-t-none"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of sortRates">
                                            <td [textContent]="item.name"></td>
                                            <td [textContent]="item.rate | number: '1.0-2'"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            <app-exchanger></app-exchanger>
        </div>
    </div>
</div>
